.breadcrumbs {
  list-style: none;
  padding-inline: 0;
  margin-block: var(--size-3);
  display: flex;

  & li {
    display: inline-block;
    padding-inline: 0;
    margin-inline-end: var(--size-2);
  }

  & a {
    color: var(--brand-color);
    margin-inline: 0;
  }

  & .icon {
    color: var(--brand-color);
    inline-size: 18px;
  }
}
