main,
body > footer {
  inline-size: 100vw;
  inline-size: 100lvi;
}

.sidebar-nav {
  display: none !important;
}

main {
  display: grid;
  grid-column-gap: 0;
  grid-template:
    "hero    hero     hero" 0.1fr
    "adv1    adv2     adv3" 0.1fr
    "content content content" 1fr
    / 1fr 1fr 1fr;
}

@media (--md-n-below) {
  main {
    grid-template:
      "hero" 0.1fr
      "adv1" 0.1fr
      "adv2" 0.1fr
      "adv3" 0.1fr
      "content" 1fr
      / 1fr;
  }
}

hero-header {
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  grid-row-gap: var(--size-3);
  padding: var(--size-6) var(--size-2);
  background: linear-gradient(to bottom, #0000 75%, var(--surface-1)) repeat-x, url("../images/bkg.svg") repeat;
  background-size: 100%, 100px;
  padding-block-end: var(--size-11);
  text-align: center;
  inline-size: 100vw;
  inline-size: 100lvi;
}

hero-header > [slot="logo"] {
  grid-row: 1;
  grid-column: 1/ -1;
  place-self: center;
  background: var(--brand-color-border);
  border-radius: var(--radius-round);
  padding: var(--size-3);
  inline-size: var(--size-fluid-7);
  aspect-ratio: 1;
}

hero-header > [slot="title"] {
  grid-row: 2;
  grid-column: 1/ -1;
  place-self: center;
  background: var(--brand-gradient) 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-fluid-3) !important;
}

hero-header > [slot="subtitle"] {
  grid-row: 3;
  grid-column: 1/ -1;
  place-self: center;
  color: white;
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-fluid-2) !important;
}

hero-header > [slot="cta"] {
  margin-inline: var(--size-4);
  margin-block-start: var(--size-6);
  background: var(--brand-gradient) 200%;
  border-radius: var(--radius-2);
  padding-block: var(--size-3);
  color: var(--gray-8);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-2);
}

hero-header > [slot="cta"]:nth-of-type(1) {
  grid-column: 2/-3;
}

hero-header > [slot="cta"]:nth-of-type(2) {
  grid-column: 3/-3;
}

@media (--md-n-below) {
  hero-header > [slot="cta"]:nth-of-type(1) {
    grid-column: 1/-3;
  }

  hero-header > [slot="cta"]:nth-of-type(2) {
    grid-column: 3/-1;
  }
}

advantage-item {
  block-size: 100%;
  padding: var(--size-4);
  place-self: start center;
  border-inline-start: var(--border-size-1) solid var(--surface-2);
  border-inline-end: var(--border-size-1) solid var(--surface-2);
}

advantage-item:first-of-type {
  border-inline-start: 0;
}

advantage-item:last-child {
  border-inline-end: 0;
}

advantage-item h2 {
  color: var(--brand-color-dark);
  font-weight: var(--font-weight-6);
  margin-block-end: var(--size-3);
  background: linear-gradient(to bottom right, var(--brand-color-medium), var(--brand-color-dark)) 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

advantage-item:nth-of-type(1) {
  --brand-color-medium: var(--yellow-4);
  --brand-color-dark: var(--yellow-8);
}

advantage-item:nth-of-type(2) {
  --brand-color-medium: var(--purple-4);
  --brand-color-dark: var(--purple-8);
}

advantage-item:nth-of-type(3) {
  --brand-color-medium: var(--green-4);
  --brand-color-dark: var(--green-8);
}

advantage-item svg {
  margin-block-start: -2px;
  margin-inline-end: var(--size-2);
  inline-size: var(--size-6);
}

section {
  grid-area: content;
  display: grid;
  grid-column-gap: var(--size-3);
  grid-template:
    "code" auto
    "title" 2em
    "result" auto
    / 1fr;
}

@media (--lg-n-above) {
  section {
    grid-template:
      "code title" 2em
      "code result" 1fr
      / 1fr 0.4fr;
  }
}

section .language-js {
  grid-area: code;
  margin: var(--size-4);
  max-inline-size: 100%;
}

section .language-html {
  grid-area: code;
  display: none;
}

section h6 {
  grid-area: title;
  margin: var(--size-4);
}

section .surface {
  grid-area: result;
  margin: var(--size-4);
  box-shadow: none;
}
