main {
  max-inline-size: 100vw;
  max-inline-size: 100lvi;
}

.sidebar-nav {
  display: none;
}

main {
  display: grid;
  grid-column-gap: var(--size-4);
  grid-template:
    "hero    hero     hero" 0.1fr
    "adv1    adv2     adv3" 1fr
    "content content content" 1fr
    / 1fr 1fr 1fr;
}

@media (--md-n-below) {
  main {
    grid-template:
      "hero" 0.1fr
      "adv1" 1fr
      "adv2" 1fr
      "adv3" 1fr
      "content" 1fr
      / 1fr;
  }
}

hero-header {
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  grid-row-gap: var(--size-3);
  padding: var(--size-6) var(--size-2);
  background: linear-gradient(to bottom, #0000 75%, var(--surface-1)) repeat-x, url("../images/bkg.svg") repeat;
  background-size: 100%, 100px;
  padding-block-end: var(--size-11);
  text-align: center;
}

hero-header > [slot="logo"] {
  grid-row: 1;
  grid-column: 1/ -1;
  place-self: center;
  background: var(--brand-color-border);
  border-radius: var(--radius-round);
  padding: var(--size-3);
  inline-size: var(--size-fluid-7);
  aspect-ratio: 1;
}

hero-header > [slot="title"] {
  grid-row: 2;
  grid-column: 1/ -1;
  place-self: center;
  background: var(--brand-gradient) 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-fluid-3) !important;
}

hero-header > [slot="subtitle"] {
  grid-row: 3;
  grid-column: 1/ -1;
  place-self: center;
  color: white;
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-fluid-2) !important;
}

hero-header > [slot="cta"] {
  margin-inline: var(--size-4);
  margin-block-start: var(--size-6);
  background: var(--brand-gradient) 200%;
  border-radius: var(--radius-2);
  padding-block: var(--size-3);
  color: var(--text-1);
}

hero-header > [slot="cta"]:nth-of-type(1) {
  grid-column: 2/-3;
}

hero-header > [slot="cta"]:nth-of-type(2) {
  grid-column: 3/-3;
}

advantage-item {
  padding: var(--size-4);
  place-self: start center;
}
