main {
  padding: var(--size-8);
}

main > h1 {
  font-weight: normal;
  border-bottom: var(--border-size-2) solid var(--brand-color-dark);
  padding-block-end: var(--size-2);
  margin-block-end: var(--size-8);
  display: block;
  max-inline-size: 100%;
}

.breadcrumbs {
  list-style: none;
  padding-inline: 0;
  margin-block: var(--size-3);
  display: flex;
}

.breadcrumbs li {
  display: inline-block;
  padding-inline: 0;
  margin-inline-end: var(--size-2);
}

.breadcrumbs a {
  color: var(--brand-color);
  margin-inline: 0;
}

.breadcrumbs .icon {
  color: var(--brand-color);
  inline-size: 18px;
}

.pagination {
  display: flex;
  gap: var(--size-10);
}

.pagination :where([slot="next"], [slot="prev"]) {
  flex: 1;
  display: block;
  border-bottom: var(--border-size-2) solid var(--brand);
  padding: var(--size-3);
}

.pagination :where([slot="next"], [slot="prev"]) span {
  color: var(--text-2);
  display: block;
  font-size: var(--font-size-0);
  padding-block-end: var(--size-3);
  text-transform: uppercase;
}

.pagination [slot="next"] {
  text-align: right;
}

.interactive-input input {
  margin-inline: var(--size-2);
}

.interactive-input input:invalid {
  border: var(--border-size-2) solid var(--red-3);
}

.interactive-input input:valid {
  border: var(--border-size-2) solid var(--green-3);
}

.interactive-input input:placeholder-shown {
  border: var(--border-size-2) solid var(--gray-3);
}

.interactive-input input ~ .icon {
  display: none;
}

.interactive-input input:invalid ~ :where(.error, .icon-false) {
  color: var(--red-5);
  display: inline-block;
}

.interactive-input input:not(:placeholder-shown):valid ~ :where(.error, .icon-true) {
  color: var(--green-5);
  display: inline-block;
}

.content {
  max-inline-size: 80ch;
  font-size: var(--font-size-2);
  margin-block-end: var(--size-8);
}

.content > :where(p, h2, h3, h4, h5) {
  padding-block: var(--size-3);
}

.content a {
  color: var(--brand-color);
}

.content a:hover {
  color: var(--brand-color-very-dark);
  text-decoration: underline;
}

.content h2 {
  font-size: var(--font-size-5);
}

.content h3 {
  font-size: var(--font-size-4);
}

.content h4 {
  font-size: var(--font-size-3);
}

.content h5 {
  font-size: var(--font-size-2);
}

.content :where(th, td) {
  border-style: solid;
  border-color: var(--gray-4);
  border-width: var(--border-size-1) 0 0 var(--border-size-1);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
}

.content table {
  border-spacing: 0;
  inline-size: 100%;
  margin-block-end: var(--size-5);
}

.content th {
  background: var(--gray-2);
}

.content tr:first-child th:first-child {
  border-start-start-radius: var(--radius-2);
}

.content tr:first-child th:last-child {
  border-start-end-radius: var(--radius-2);
}

.content tr:where(:nth-child(even)) td {
  background: var(--gray-1);
}

.content :where(td, th):last-child {
  border-inline-end-width: var(--border-size-1);
}

.content tbody tr:last-child :where(td, th) {
  border-block-end-width: var(--border-size-1);
}

.content tbody tr:last-child :where(td, th):first-child {
  border-end-start-radius: var(--radius-2);
}

.content tr:last-child td:last-child {
  border-end-end-radius: var(--radius-2);
}

@media (--OSdark) {
  .content th {
    background: var(--gray-8);
  }

  .content tr:nth-child(even) td {
    background: var(--gray-12);
  }
}

.content kbd {
  background: var(--surface-1);
  box-shadow: var(--shadow-1);
  border: var(--border-size-2) outset var(--surface-4);
}

.content :where(kbd svg) {
  transform: scale(0.6);
  width: 22px;
  margin-block-start: -3px;
}

.callout {
  display: flex;
  justify-content: space-between;
  padding: var(--size-2);
  padding-inline-end: var(--size-4);
  border-radius: var(--radius-2);
}

.callout p {
  max-inline-size: 90%;
}

.callout.info {
  border: var(--border-size-2) solid var(--blue-3);
  background: var(--blue-1);
  color: var(--blue-12);
}

.callout.warn {
  border: var(--border-size-2) solid var(--orange-3);
  background: var(--orange-1);
  color: var(--orange-12);
}

.callout.danger {
  border: var(--border-size-2) solid var(--red-3);
  background: var(--red-1);
  color: var(--red-12);
}

.callout.github {
  border: var(--border-size-2) solid var(--jungle-3);
  background: var(--jungle-1);
  color: var(--jungle-12);
}

.callout.info svg {
  color: var(--blue-6);
}

.callout.warn svg {
  color: var(--orange-6);
}

.callout.danger svg {
  color: var(--red-6);
}

@media (--OSdark) {
  .callout.info {
    border: var(--border-size-2) solid var(--blue-12);
    background: var(--blue-10);
    color: var(--blue-1);
  }

  .callout.warn {
    border: var(--border-size-2) solid var(--orange-12);
    background: var(--orange-10);
    color: var(--orange-1);
  }

  .callout.danger {
    border: var(--border-size-2) solid var(--red-12);
    background: var(--red-10);
    color: var(--red-1);
  }

  .callout.github {
    border: var(--border-size-2) solid var(--jungle-12);
    background: var(--jungle-10);
    color: var(--jungle-1);
  }

  .callout.info svg {
    color: var(--blue-3);
  }

  .callout.warn svg {
    color: var(--orange-3);
  }

  .callout.danger svg {
    color: var(--red-3);
  }
}
