@import url("./breadcrumbs.css");
@import url("./pagination.css");

main {
  padding: var(--size-8);

  & > h1 {
    font-weight: normal;
    border-block-end: var(--border-size-2) solid var(--brand-color-dark);
    padding-block-end: var(--size-2);
    margin-block-end: var(--size-8);
    display: block;
    max-inline-size: 100vw;
    max-inline-size: 100lvw;
  }
}

.interactive-input input {
  margin-inline: var(--size-2);
  margin-block-end: var(--size-2);

  &:invalid {
    border: var(--border-size-2) solid var(--red-3);
  }

  &:valid {
    border: var(--border-size-2) solid var(--green-3);
  }

  &:placeholder-shown {
    border: var(--border-size-2) solid var(--gray-3);
  }

  & ~ :where(.valid, .error, .hint) {
    display: none;
  }

  &:invalid ~ .error {
    color: var(--red-5);
    display: block;
  }

  &:not(:placeholder-shown):valid ~ .valid {
    color: var(--green-5);
    display: block;
  }

  & ~ .hint:has(span:not(:empty)) {
    color: var(--blue-5);
    display: block;
  }
}
