@import url("./breadcrumbs.css");
@import url("./pagination.css");

main {
  padding: var(--size-8);
}

main > h1 {
  font-weight: normal;
  border-bottom: var(--border-size-2) solid var(--brand-color-dark);
  padding-block-end: var(--size-2);
  margin-block-end: var(--size-8);
  display: block;
  max-inline-size: 100vw;
  max-inline-size: 100lvw;
}

main > header {
  border-bottom: var(--border-size-2) solid var(--brand-color-dark);
  padding-block-end: var(--size-4);
  margin-block-end: var(--size-4);
  max-inline-size: 100ch;
}

main > header > h1 {
  font-weight: normal;
  display: block;
  margin-block-end: var(--size-4);
}

main > header > h5 {
  color: var(--gray-6);
}

.tutorials-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: var(--size-4);
}

.tutorials-listing li {
  padding: 0;
  margin-block-end: var(--size-8);
}

.tutorials-listing h3 {
  margin-block-end: var(--size-2);
}

.tutorials-listing a {
  display: block;
}

.tutorials-listing picture {
  margin-block-end: var(--size-4);
}
