@import url("./breadcrumbs.css");
@import url("./pagination.css");

main {
  padding: var(--size-8);

  & > h1 {
    font-weight: normal;
    border-block-end: var(--border-size-2) solid var(--brand-color-dark);
    padding-block-end: var(--size-2);
    margin-block-end: var(--size-8);
    display: block;
    max-inline-size: 100vw;
    max-inline-size: 100lvw;
  }

  & > header {
    border-block-end: var(--border-size-2) solid var(--brand-color-dark);
    padding-block-end: var(--size-4);
    margin-block-end: var(--size-4);
    max-inline-size: 100ch;

    & > h1 {
      font-weight: normal;
      display: block;
      margin-block-end: var(--size-4);
    }

    & > h5 {
      color: var(--gray-6);
    }
  }
}

.tutorials-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: var(--size-4);

  & li {
    padding: 0;
    margin-block-end: var(--size-8);
  }

  & h3 {
    margin-block-end: var(--size-2);
  }

  & a {
    display: block;
  }

  & picture {
    margin-block-end: var(--size-4);
  }
}
