@import "open-props";
@import "open-props/normalize.min.css";

:root {
  --brand-color-light: #d7f1f8;
  --brand-color-medium: #b8e6f3;
  --brand-color-dark: #1eccea;
  --brand-color-border: #2c4455;
  --brand-color-border-2: #385470;
  --brand-gradient: linear-gradient(to bottom right, var(--brand-color-medium), var(--brand-color-dark));
}

:where(h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-5);
}

body {
  overflow-x: hidden;
  display: grid;
}

/** TODO Hacks **/
hero-header { background: linear-gradient(to bottom, transparent 75%, var(--surface-1)), url("./images/bkg.svg") repeat }
hero-header [slot=subtitle] { color: var(--gray-0) }
hero-header [slot=cta] { color: var(--gray-9) }

