<nav slot="nav" aria-label="Global Navigation">
  <ol>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/learn/">Learn</a>
    </li>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/tutorials/">Tutorials</a>
    </li>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/ecosystem/">Ecosystem</a>
    </li>
    <li class="nav-item">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li class="nav-item">
      <a
        href="https://github.com/keithamus/webcomponents.guide/"
        target="_blank"
        rel="noopener"
        title="GitHub"
        aria-label="GitHub"
        ><svg class="icon"><use xlink:href="/images/icons.svg#github"></use></svg></a>
    </li>
  </ol>
</nav>
