<nav slot="nav" aria-label="Global Navigation">
  <ol>
    <li class="nav-item">
      <a href="/learn/">Learn</a>
    </li>
    <li class="nav-item">
      <a href="/tutorials/">Tutorials</a>
    </li>
    <li class="nav-item">
      <a href="/ecosystem/">Ecosystem</a>
    </li>
    <li class="nav-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
      <a
        href="https://github.com/WebComponentsGuide/webcomponents.guide/"
        target="_blank"
        rel="noopener"
        title="GitHub"
        aria-label="GitHub"
        ><svg width="24" height="24" class="icon"><use xlink:href="/images/icons.svg#github"></use></svg
      ></a>
    </li>
  </ol>
</nav>
