<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>{{ content }}</body>
  <script>
    (function attachShadowRoots(root) {
      root.querySelectorAll("template[shadowroot]").forEach(template => {
        const mode = template.getAttribute("shadowroot");
        const shadowRoot = template.parentNode.attachShadow({ mode });
        shadowRoot.appendChild(template.content);
        template.remove();
        attachShadowRoots(shadowRoot);
      });
    })(document);
  </script>
</html>
