<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />
    {%- capture pagetitle %}{% if title %}{{ title }} &ndash;{% endif %} Web Components Guide{% endcapture %}
    <title>{{ pagetitle }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:title" content="{{ pagetitle }}" />
    {% if imageslug %}
    <meta property="og:image" content="{{ baseurl }}/images/{{ imageslug }}.jpg" />
    {% else %}
    <meta property="og:image" content="{{ baseurl }}/images/android-chrome-512x512.png" />
    {% endif %}{%- if excerpt %}
    <meta name="description" content="{{ excerpt }}" />
    <meta property="og:description" content="{{ excerpt }}" />
    {% else %}
    <meta name="description" content="The Guide to Web Components" />
    <meta property="og:description" content="{{ excerpt }}" />
    {% endif %}
    <meta property="og:url" content="{{ baseurl }}{{ page.url }}" />
    <meta property="og:type" content="article" />

    <link rel="stylesheet" href="/css/global.css" />
    {% for file in css %}
    <link rel="stylesheet" href="/css/{{file}}" />
    {% endfor %}
    <link href="/blog/atom.xml" rel="alternate" type="application/atom+xml" title="Web Components Guide Blog" />
  </head>
  <body>
    {% include 'header.html' %} {% include 'navigation.html' %}

    <main>{% block content %} {{ content }} {% endblock %}</main>

    <footer class="page-foot">
      <p>All content licensed as <a href="https://spdx.org/licenses/CC-BY-SA-4.0">CC-BY-SA-4.0</a></p>
      <nav aria-label="Social Links">
        <ol>
          {% include 'social-links.html' %}
        </ol>
      </nav>
    </footer>

    <script type="module" src="/script/polyfills.js"></script>
    {% for file in script %}
    <script type="module" src="/script/{{ file }}"></script>
    {% endfor %}
  </body>
</html>
