<nav class="sidebar-nav" popover id="sidebar-nav">
  <div slot="global-nav">{% include 'global-navigation.html' %} {% include 'global-search.html' %}</div>
  <nav>
    {%- for group in groups %}
    <details {% if page.data.group == group %}open{% endif %}>
      <summary>{% icon "arrow-down-right" %} {{group}}</summary>
      <ol>
        {%- for page in collections[group] %} {%- unless page.data.draft %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {%- endunless %} {%- else %} Collection empty {%- endfor %}
      </ol>
    </details>
    {%- endfor %}
  </nav>
</nav>
