{% if collections[group] %}
<nav class="pagination" aria-label="Pagination">
  {% assign previousPost = collections[group] | getPreviousCollectionItem: page %} {% assign nextPost =
  collections[group] | getNextCollectionItem: page %} {% if previousPost %}
  <a slot="prev" href="{{ previousPost.url }}">
    <span>{% icon "arrow-left-circle" %} Previous</span>
    {{ previousPost.data.title }}
  </a>
  {% elsif prevGroup %} {% assign previousPost = collections[prevGroup] | first %}
  <a slot="prev" href="{{ previousPost.url }}">
    <span>{% icon "arrow-left-circle" %} Previous Section</span>
    {{ prevGroup }}
  </a>
  {% endif %} {% if nextPost %}
  <a slot="next" href="{{ nextPost.url }}">
    <span>Next {% icon "arrow-right-circle" %}</span>
    {{ nextPost.data.title }}
  </a>
  {% elsif nextGroup %} {% assign nextPost = collections[nextGroup] | first %}
  <a slot="next" href="{{ nextPost.url }}">
    <span>Next Section {% icon "arrow-right-circle" %}</span>
    {{ nextGroup }}
  </a>
  {% endif %}
</nav>
{% endif %}
