:host {
  padding: var(--size-6);
  width: 100%;
  display: grid;
  grid-row-gap: var(--size-3);
  place-content: start center;
  text-align: center;
}
:host::part(cta-buttons) {
  display: grid;
  grid-column-gap: var(--size-6);
}
::slotted([slot=title]) {
  background: var(--brand-gradient) 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::slotted([slot=subtitle]) {
  font-weight: var(--font-weight-4);
}
::slotted(a[slot=cta]) {
  background: var(--brand-gradient) 200%;
  color: white;
  grid-row-start: 3;
}
