name: Pages Deploy
on:
  push:
    branches: ["main"]
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js 18.x (LTS)
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      - name: Upload artifact
        uses: paper-spa/upload-pages-artifact@v0
        with:
          path: "_site/"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
