name: Tests
on:
  push:

concurrency:
  group: "tests"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js 18.x (LTS)
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "npm"
      - run: npm ci
      - run: npm test
